<mat-drawer-container class="mat-drawer-container" autosize>
    <mat-drawer #drawer class="sidenav" [opened]="authService.loggedin" mode="side">
        <div *ngIf="authService.loggedin" class="logo-container center">
            <img src="assets/img/Logo.png" class="mr-16">
            <h2>M³ Messenger</h2>
        </div>

        <ul>
            <li class=" mt-16 right mb-16" >
                <button mat-fab color="primary" title="Neuen Channel erstellen">
                   <mat-icon >add</mat-icon>
                  </button>
            </li>
            <li >
                # Test
            </li>
        </ul>
        <h3 class="mt-16 text-center">Direktnachrichten</h3>
        <ul >
            <li>
              Direktnachricht mit User 1
            </li>
        </ul>
    </mat-drawer>

    <div *ngIf="authService.loggedin" class="example-sidenav-content">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <mat-icon class="menu-icon mr-16" (click)="drawer.toggle()">menu</mat-icon>
                <span>M³ Messenger</span>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>

    <div class="router-container">
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>