<mat-drawer-container class="mat-drawer-container" autosize>

    <mat-drawer #drawer class="sidenav" mode="side" [opened]="this.authService.loggedin">
        <div class="logo-container center">
            <img src="assets/img/Logo.png" class="mr-16">
            <h2>M³ Messenger</h2>
        </div>

        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel [expanded]="true" [disabled]="clickButton" (click)="clickButton=false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        channels
                    </mat-panel-title>
                    <button mat-icon-button (click)="openDialog()" matTooltip="Add new Channel">
                        <mat-icon>add</mat-icon>
                    </button>
                </mat-expansion-panel-header>

                <mat-nav-list>
                    <a mat-list-item *ngFor="let channel of allChannels"
                        [routerLink]="['/channel/' + channel.customIdName]">
                        <td>
                            <div>{{ channel.name }}</div>
                            <div><button mat-menu-item (click)="deleteChannel()">
                                    <mat-icon color="primary">delete</mat-icon>
                                </button>
                            </div>
                    </a>
                </mat-nav-list>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        direct messages
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item *ngFor="let user of this.allUsers"
                        [routerLink]="['/message/' + user.customIdName]">

                        <img class="profile-img-icon" [src]="user.photoURL ?? 'assets/img/user-placeholder.png'">{{
                        user.displayName }}
                    </a>
                </mat-nav-list>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        legal notice
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item [routerLink]="['/impressum/' ]">
                        <div>
                            legal disclosure
                        </div>

                    </a>
                </mat-nav-list>
                <mat-nav-list>
                    <a mat-list-item [routerLink]="['/datenschutzerklaerung/' ]">
                        <div>
                            data protection
                        </div>

                    </a>
                </mat-nav-list>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-drawer>

    <div class="example-sidenav-content">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <div style="display: flex; align-items: center;">
                    <mat-icon *ngIf="user$ | async as user" class="menu-icon mr-16" (click)="drawer.toggle()">menu
                    </mat-icon>
                    <span>M³ Messenger</span>
                </div>
                <ng-container *ngIf="user$ | async as user; else loginButton">
                    <button mat-button [mat-menu-trigger-for]="userMenu" style="position: relative;">
                        <img class="profile-img-icon" [src]="user.photoURL ?? 'assets/img/user-placeholder.png'">
                        <img src="assets/img/icons8-online-12.png" style="position: absolute; left: 35px; bottom: 0px;">
                        {{ user.displayName }}
                        <mat-icon>expand_more</mat-icon>
                    </button>
                </ng-container>

                <ng-template #loginButton>
                    <button mat-button routerLink="/login">
                        <mat-icon>login</mat-icon>
                        Login
                    </button>
                </ng-template>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>


    <router-outlet></router-outlet>


    <mat-menu #userMenu="matMenu">
        <button mat-menu-item routerLink="/profile">
            <mat-icon>settings</mat-icon>Profile
        </button>
        <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>Logout
        </button>
    </mat-menu>

</mat-drawer-container>