<div class="router-container main-container">
    <mat-list>

        <div class="post-container">
            <div class="post-left-container">
                <img class="user-icon" src='assets/img/user-placeholder.png'>
            </div>
            <div>
                <div class="post-head">
                    <div class="post-head-left">
                        <div class="post-user">Manuel Baerlocher</div>
                        <span class="post-date">25.03.22, 23.06</span>
                    </div>

                    <button class="menu-button" mat-icon-button [matMenuTriggerFor]="menu" color="primary">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon color="primary">edit</mat-icon>
                            <span>Edit</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon color="primary">delete</mat-icon>
                            <span>Remove</span>
                        </button>
                    </mat-menu>

                </div>
                <div>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt quam officia laborum ea quisquam,
                    voluptatem voluptatibus quis repellat deleniti. Nulla reiciendis eum fugit inventore provident,
                    corrupti voluptatum iure qui fugiat?
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>

        <div class="post-container">
            <div class="post-left-container">
                <img class="user-icon" src='assets/img/user-placeholder.png'>
            </div>
            <div>
                <div class="post-head">
                    <div class="post-head-left">
                        <div class="post-user">Manuel Baerlocher</div>
                        <span class="post-date">25.03.22, 23.06</span>
                    </div>

                    <button class="menu-button" mat-icon-button [matMenuTriggerFor]="menu" color="primary">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon color="primary">edit</mat-icon>
                            <span>Edit</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon color="primary">delete</mat-icon>
                            <span>Remove</span>
                        </button>
                    </mat-menu>

                </div>
                <div>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt quam officia laborum ea quisquam,
                    voluptatem voluptatibus quis repellat deleniti. Nulla reiciendis eum fugit inventore provident,
                    corrupti voluptatum iure qui fugiat?
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>

    </mat-list>


    <mat-card class="input-Container">
        <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Message</mat-label>
                <input matInput #message maxlength="256" placeholder="Ex. I need help with...">
                <mat-hint align="start"> </mat-hint>
                <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
            </mat-form-field>
        </form>
        <div class="send-button">
            <div>
                <button mat-icon-button color="primary" matTooltip="Add Img" [matTooltipPosition]="position.value"
                    matTooltipHideDelay="100">
                    <mat-icon>photo</mat-icon>

                </button>
                <button mat-icon-button color="primary" matTooltip="Add Code" [matTooltipPosition]="position.value"
                    matTooltipHideDelay="100">
                    <mat-icon>code</mat-icon>

                </button>
            </div>
            <button mat-raised-button color="primary">Send</button>
        </div>
    </mat-card>

</div>