<div class="router-container main-container">


    <mat-list>
        <div class="message-head">
            <img class="user-icon" src='assets/img/user-placeholder.png'>
            <h1>Manuel Baerlocher</h1>

        </div>
        <mat-divider></mat-divider>
        <div *ngFor="let post of posts let i = index">
            <div class="post-container">
                <div class="post-left-container">
                    <img class="user-icon" src='assets/img/user-placeholder.png'>
                </div>
                <div class="post-right-container">
                    <div class="post-head">
                        <div class="post-head-left">
                            <div class="post-user">{{ post.user }}</div>
                            <span class="post-date">{{ post.date }}</span>
                        </div>

                        <button class="menu-button" mat-icon-button [matMenuTriggerFor]="menu" color="primary">
                            <mat-icon>menu</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                                <mat-icon color="primary">question_answer</mat-icon>
                                <span>Answer</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon color="primary">edit</mat-icon>
                                <span>Edit</span>
                            </button>
                            <button mat-menu-item (click)="deletePost(i)">
                                <mat-icon color="primary">delete</mat-icon>
                                <span>Remove</span>
                            </button>
                        </mat-menu>

                    </div>
                    <div>
                        {{ post.message }}
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </mat-list>


    <mat-card class="input-Container">
        <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Message</mat-label>
                <input matInput #message maxlength="256" placeholder="Ex. I need help with..." [(ngModel)]="newmessage"
                    name="newmessage">
                <mat-hint align="start"> </mat-hint>
                <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
            </mat-form-field>
        </form>
        <div class="send-button">
            <div>
                <button mat-icon-button color="primary" matTooltip="Add Img" [matTooltipPosition]="position.value"
                    matTooltipHideDelay="100">
                    <mat-icon>photo</mat-icon>

                </button>
                <button mat-icon-button color="primary" matTooltip="Add Code" [matTooltipPosition]="position.value"
                    matTooltipHideDelay="100">
                    <mat-icon>code</mat-icon>

                </button>
            </div>
            <button mat-raised-button color="primary" (click)="newPost() ">Send</button>
        </div>
    </mat-card>

</div>