.profile-img {
    width: 120px;
    position: relative;
    margin: auto;
    margin-bottom: 32px;
    img {
        height: 120px;
        width: 120px;
        object-fit: cover;
        object-position: center;
        border-radius: 100%;
    }

    button {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

.form-container {
    max-width: 300px;
}