.profile-img {
    position: relative;
    img {
        height: 120px;
        width: 120px;
        object-fit: cover;
        object-position: center;
        border-radius: 100%;
    }

    button {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

.form-container {
    max-width: 400px;
}

.row {
    display: flex;
    gap: 16px;
}
